<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title> 
  {{ $criticalCss := .Resources.GetMatch "critical.css" }}
  {{ $criticalStyle := $criticalCss | resources.PostCSS }}
  <style>{{ $criticalStyle.Content | safeCSS }}</style>
  <script defer src="https://kit.fontawesome.com/f60b7eadbc.js"></script>
</head>
<body class="body">
  {{ partial "header" . }}

  {{ partial "tag-line" . }}
  
  {{ block "main" . }}

  {{ end }}
  
  {{/*  defer loading of non critical stylesheet  */}}
  {{ $nonCriticalCss := .Resources.GetMatch "non-critical.css" }}
  {{ $nonCriticalStyle := $nonCriticalCss | resources.PostCSS }}
  <link 
    rel="preload"
    href="{{ $nonCriticalStyle.RelPermalink }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  <noscript><link rel="stylesheet" href="{{ $nonCriticalStyle.RelPermalink }}"></noscript>
</body>
</html>
