<header class="header">
  
  <div class="header--background"></div>

    <div class="header--content">
      <h1 class="header--title">Dylan Landry</h1>
      <nav>
        <ul class="outside-links">
          {{ partial "outside-link-icon" (dict "link" "https://github.com/dyllandry/" "ariaLabel" "Dylan's GitHub profile containing his public programming projects." "fontAwesomeClasses" "fab fa-github-square fa-lg") }}
          {{ partial "outside-link-icon" (dict "link" "https://www.linkedin.com/in/dylanglandry/" "ariaLabel" "Dylan's LinkedIn profile." "fontAwesomeClasses" "fab fa-linkedin fa-lg") }}
          {{ partial "outside-link-icon" (dict "link" "https://dev.to/dyllandry" "ariaLabel" "Dylan's developer blog profile." "fontAwesomeClasses" "fab fab fa-dev fa-lg") }}
        </ul>
      </nav>
    </div>

  
</header>
