<div class="project">

  {{ with .Params.thumbnail }}
    {{ $image := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .) }}
    {{ $image = $image.Resize "1000x" }} 
    {{ $width := div $image.Width 1.0 }}
    {{ $paddingPercentage := div $image.Height $width }}
    {{ $placeholder := $image.Resize "21x Gaussin"}}
    {{ $placeholderId := base64Encode $placeholder.Name }}
    {{ if ne $.Params.demo_url "" }}
      <a href="{{ $.Params.demo_url }}">
    {{ end }}
    <div class="project-image" style="padding-bottom: {{ mul $paddingPercentage 100 }}%">
      <div 
        class="project-image--placeholder"
        style="background-image: url(data:image/png;base64,{{ base64Encode $placeholder.Content }})"
        data-placeholder-id='{{ $placeholderId }}'
      >
      </div>
      <img 
        class="project-image--img"
        data-placeholder-id='{{ $placeholderId }}'
        alt="{{ $.Params.thumbnail_alt }}"
        data-src="{{ $image.RelPermalink }}"
      >
    </div>
    {{ if ne $.Params.demo_url "" }}
      </a>
    {{ end }}
  {{ end }}

  <div class="project--text">
    
    <h3 class="project--title">{{ .Params.Title }}</h3>

    {{ if and (isset .Params "tagline") (ne .Params.tagline "")}}
      <p class="project--tagline">{{ .Params.Tagline }}</p>
    {{ end }}
    
    <p class="project--description">
      {{ .Params.Description }}
      {{ if and (isset $.Params "blog_post_url") (ne $.Params.blog_post_url "") }}
        <a href="{{ $.Params.blog_post_url }}">Read more...</a>
      {{ end }}
    </p>

  </div>

    <div class="project--links">
        <a class="project--anchor" href="{{ .Params.repository_url }}">
          <div class="project--url project--repo">
            Repository
          </div>
        </a>
        {{ if ne .Params.demo_url "" }}
          <a class="project--anchor" href="{{ .Params.demo_url }}">
            <div class="project--url project--demo">
              Live Demo
            </div>
          </a>
        {{ end }}
      </div>

  {{/*  {{ if ne .Params.demo_url "" }}
    <a class="project--image-link" href="{{ .Params.demo_url }}">
  {{ end }}
    <img class="project--image" src="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" alt="">
  {{ if ne .Params.demo_url "" }}
    </a>
  {{ end }}

  <h2 class="project--title">{{ .Params.Title }}</h2>

  <p class="project--description">{{ .Params.Description }}</p>

  <div class="project--links">
    <a class="project--anchor" href="{{ .Params.repository_url }}">
      <div class="project--url">
        Repository
      </div>
    </a>
    {{ if ne .Params.demo_url "" }}
      <a class="project--anchor" href="{{ .Params.demo_url }}">
        <div class="project--url project--demo">
          Live Demo
        </div>
      </a>
    {{ end }}
  </div>  */}}

</div>
