{{ define "main" }}

  <ul class="projects-list">
    
    {{ range sort .Site.Pages "Params.Order"}}
      {{ if and (eq .Type "projects") (.IsPage) }}
      
        <li class="projects-list--item">
          {{ partial "project" . }}
        </li>

      {{ end }}
    {{ end }}

    <!-- fade out each project placeholder image when HD image loads -->
    <script>
      (function() {
        var imageDivs = document.querySelectorAll('.project-image')
        for (var i = 0; i < imageDivs.length; i++) {
          var imageDiv = imageDivs[i]
          var image = imageDiv.querySelector('.project-image--img')
          image.onload = function () {
            var id = this.getAttribute('data-placeholder-id')
            var placeholder = document.querySelector('.project-image--placeholder[data-placeholder-id="'+id+'"')
            placeholder.style.opacity = 0;
            this.onload = null
          }
          var src = image.getAttribute( 'data-src')
          image.src = src
        }
      })()
    </script>
    
  </ul>

  <div class="learning-log--container">
    <div class="learning-log">
      <ol>
        {{ range .Site.Pages }}
          {{ if and .IsPage (eq "learning-log" .Type) }}
            <li>
              <div class="learning-log--post" onclick='window.location = "{{ .Param "post-url" }}"'>
                <span class="learning-log--date">{{ dateFormat "2006-01-02" .Params.date }}</span>
                <span class="learning-log--title">
                  <a href='{{ .Param "post-url" }}'>{{ .Params.title }}</a>
                </span>
                <span class="learning-log--description">{{ .Params.description }}</span>
                <span class="learning-log--tags">
                  {{ range .Params.tags  }}
                    <span class="learning-log--tag">{{ . }}</span>
                  {{ end }}
                </span>
              </div>
            </li>
          {{ end }}
        {{ end }}
      </ol>
    </div>
  </div>

{{ end }}
